@import services.DisplayPlayer
@(mePlayer: DisplayPlayer, himPlayer: DisplayPlayer)

@main("Convolution") {
    <script src="@routes.Assets.versioned("javascripts/GameScreen.js")" type="text/javascript"></script>
    <script>GameScreen ();</script>
    @*
    <div>
        <div id="scores">
            <span id="horizontal-score" class="score">H: @board.horizontalScore</span>
            <span id="vertical-score" class="score">V: @board.verticalScore</span>
        </div>
        <table>
            <tbody>
                @for(rowIdx <- 0 until board.order) {
                    <tr>
                        @for(colIdx <- 0 until board.order) {
                            <td
                                id="td-@colIdx-@rowIdx"
                                class="@board.cellClass(colIdx, rowIdx)"
                            >
                                @Html(board.cellString(colIdx, rowIdx))
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    *@
    <div id="waiting-panel" class="instructions">Waiting for opponent @himPlayer.name</div>
}
