@import presentation.BoardPresentation
@(board: BoardPresentation)

@main("Convolution") {
    <div>
        <div id="scores">
            <span id="horizontal-score" class="score">H: @board.horizontalScore</span>
            <span id="vertical-score" class="score">V: @board.verticalScore</span>
        </div>
        <table>
            <tbody>
                @for(rowIdx <- 0 until board.order) {
                    <tr>
                        @for(colIdx <- 0 until board.order) {
                            <td
                                id="td-@colIdx-@rowIdx"
                                class="@board.cellClass(colIdx, rowIdx)"
                            >
                                @Html(board.cellString(colIdx, rowIdx))
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
