@import services.DisplayPlayer
@(mePlayer: DisplayPlayer, himPlayer: DisplayPlayer, absoluteSocketUrl: String)

@main("Convolution") {
    <script src="@routes.Assets.versioned("javascripts/GameScreen.js")" type="text/javascript"></script>
    <div id="game-panel">
        <div id="scores">
            <span id="horizontal-score" class="score"></span>
            <span id="vertical-score" class="score"></span>
        </div>
        <table>
            <tbody>
                @*
                @for(rowIdx <- 0 until board.order) {
                    <tr>
                        @for(colIdx <- 0 until board.order) {
                            <td
                                id="td-@colIdx-@rowIdx"
                                class="@board.cellClass(colIdx, rowIdx)"
                            >
                                @Html(board.cellString(colIdx, rowIdx))
                            </td>
                        }
                    </tr>
                }
                *@
            </tbody>
        </table>
    </div>
    <div id="waiting-panel" class="instructions">Waiting for opponent @himPlayer.name</div>
    <script>GameScreen ('@absoluteSocketUrl');</script>
}
