@import services.DisplayPlayer
@(waitingPlayers: List[DisplayPlayer], currentPlayer: Option[DisplayPlayer])

@main("Convolution Vestibule") {
    <div>
        @currentPlayer match {
            case None => {
                <div id="enter-name-panel">
                    <form method="POST" action="/vestibule/enter">
                        <label for="name-field">Enter your name:</label>
                        <input id="name-field" name="name-field" type="text"/>
                        <input id="enter-name-submit" type="submit" value="Wait for Opponent"/>
                    </form>
                </div>
            }
            case Some (player) => {
                <div id="show-name-panel">
                    Waiting to be chosen by an opponent: @currentPlayer.get.name
                </div>
            }
        }
        @if(waitingPlayers.nonEmpty && currentPlayer.nonEmpty) {
            <div>
                <div>Or, you could choose an opponent from this list:</div>
                <div>
                    @for(player <- waitingPlayers if player != currentPlayer.get) {
                        <a href="/vestibule/start/@currentPlayer.get.name/@player.name" class="waiting-player">@player.name</a>
                    }
                </div>
            </div>
        }
    </div>
}
