@(absoluteSocketUrl: String)

@main("Convolution Vestibule") {
    <script src="@routes.Assets.versioned("javascripts/Vestibule.js")" type="text/javascript"></script>
    <div>
        <div id="enter-name-panel">
            <label class="instructions" for="name-field">Enter your name:</label>
            <input id="name-field" name="name-field" type="text"/>
            <input id="enter-name-submit" type="button" value="Wait for Opponent"/>
        </div>
        <div id="player-name-panel">
            <div id="player-name"></div>
            <div class="instructions">Wait to be selected by an opponent</div>
        </div>
        <div id="wait-list-panel">
            <div class="instructions">or choose an opponent from the list below</div>
            <ul id="wait-list">
            </ul>
        </div>
    </div>
    <script>Vestibule ('@absoluteSocketUrl');</script>
}
